<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TextGen sample</title>
  <script src="https://cdn.jsdelivr.net/npm/lodash/lodash.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uifactory@0.0.8/uifactory.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@6.7.0/dist/d3.min.js"></script>
</head>
<body>

  <script>
    uifactory.types.formula = {
      parse: (string, name, obj) => {
        let fn = new Function('obj', `with (obj) { return (${string}) }`)
        return fn(obj)
      },
      stringify: value => JSON.stringify(value)
    }
    uifactory.types.scalethreshold = {
      parse: string => {
        let [domain, range] = string.split(/=>/)
        return d3.scaleThreshold()
          .domain(domain.split(/,/).map(v => +v))
          .range(range.split(/,/).map(v => v.trim()))
      },
      stringify: value => JSON.stringify(value)
    }
  </script>
  <template component="text-gen">
    <%= textGen.render(this, obj) %>
    <script>
      (function (window) {
        window.textGen = {
          render: function (el, obj) {
            obj = Object.assign({}, obj)
            // Get the template element. By default, it's the text-gen component
            let tmpl = el
            // But if it has <template>s inside it, THOSE are the templates. Pick based on weight=""
            // TODO: Precompile
            let templates = Array.from(el.querySelectorAll('template'))
            if (templates.length > 0) {
              let weights = templates.map(v => +v.getAttribute('weight') || 1)
              let weightScale = d3.scaleQuantize()
                .domain(weights)
                .range(templates)
              tmpl = weightScale(Math.random() * _.sum(weights))
            }
            // Render the template
            return _.template(_.unescape(tmpl.innerHTML))(obj)
            // TODO: error reporting
          }
        }
      })(window)
    </script>
  </template>


  <!-- This is where the usage begins -->

  <text-gen class="x" noun:str="Attrition" greeting:str="'Hello" start:str="first quarter" end:str="fourth quarter" value:number="0.4"
    calibration:scalethreshold="0, 0.5, 1 => smaller, about the same as, larger than">
    <%= greeting %>! <%= noun %> for <%= end %> is <%= calibration(value) %> than <%= start %>
  </text-gen>
  <hr>
  <text-gen class="y" noun:str="Attrition" start:str="first quarter" end:str="fourth quarter" value:number="0.4"
    calibration:scalethreshold="0, 0.5, 1 => smaller, about the same as, larger than">
    <template weight="1">1: <%= noun %> for <%= end %> is <%= calibration(value) %> than <%= start %></template>
    <template weight="2">2: In <%= end %>, <%= noun %> is <%= calibration(value) %> than <%= start %></template>
  </text-gen>
  <hr>

  <script>
    let data = [
      {country: "Germany", cases: 11},
      {country: "India", cases: 23},
      {country: "Spain", cases: 33},
      {country: "Russia", cases: 90},
      {country: "Angola", cases: 29},
      {country: "France", cases: 100},
    ]
  </script>
  <text-gen
    data:formula="_.reverse(_.sortBy(data, 'cases'))"
    x:formula="_.filter(data, {'country': 'Russia'})[0]"
    y:formula="data[0]"
    calibration:scalethreshold="0.3, 0.5, 0.8 => much smaller, smaller, a bit smaller, almost same as"
  >
    <% console.log(calibration) %>
    <%= x.country %> is <%= calibration(x.cases / y.cases) %> than <%= y.country %>, which has <%= y.cases %> daily cases.
  </text-gen>
  <hr>

  <!-- Up to here, things work. But let's make it user friendly -->

  <script>
    // DEFINE YOUR OWN TYPES
    // DEFINE YOUR OWN FUNCTIONS if you need
    // Make the following generatable by Excel
  </script>
  <text-gen
    class="x"
    greeting:str="Hello"
    data:formula="sort(data, '-cases')"
    x:formula="pick(data, {country='Russia'})"
    y:formula="first(data)"
    calibration:scalethreshold="0.3, 0.5, 0.8 => 'much smaller', 'smaller', 'a bit smaller', 'almost same as'">
    <%= x.country %> is <%= calibration(x.cases / y.cases) %> than <%= y.country %>, which has <%= y.cases %> daily cases.
  </text-gen>
  <hr>
  <!-- This is where the usage ends -->

</body>
</html>
